# Prevent Dockerfile modifications to trigger layer recomputation
build/Dockerfile

# Acelerate ADD build/src . command
build/*/node_modules/
build/*/vpndb.json
build/*/test_files/
build/*/test_files/*
build/*/npm-debug.log
build_*

# Version data file
.version.json